.vs/
build/
packages/
WMR100.NET.ConsoleDemo/bin/
WMR100.NET.ConsoleDemo/obj/
WMR100.NET.Tests/bin/
WMR100.NET.Tests/obj/
WMR100.NET/bin/
WMR100.NET/obj/
WMR100.NET.suo
/WMR100.NET/Properties/GeneratedAssemblyInfo.cs
